# This is the default config for retroarch. It sets the most important settings.
# retroarch will merge those settings with the default values and overwrite
# this file.

# The retroarch theme
menu_driver = "rgui"
# Make the quick menu full screen for emulators with a smaller aspect ratio
# (gba, nes)
rgui_aspect_ratio_lock = "2"
audio_driver = "alsa"

# Add the WIFI driver
wifi_driver = "nmcli"
wifi_enabled = "false"

# Enable auto-save states
savestate_auto_load = "true"
savestate_auto_save = "true"

# Builtin js configuration
input_player1_a_btn = "0"
input_player1_b_btn = "1"
input_player1_x_btn = "3"
input_player1_y_btn = "2"
input_player1_up_btn = "h0up"
input_player1_down_btn = "h0down"
input_player1_left_btn = "h0left"
input_player1_right_btn = "h0right"
input_player1_select_btn = "5"
input_player1_start_btn = "4"
input_player1_l_btn = "6"
input_player1_l2_btn = "7"
input_player1_r_btn = "8"
input_player1_r2_btn = "9"

# Enable hotkey
input_enable_hotkey_btn = "5"
input_close_content_btn = "4"
input_reset_btn = "1"
input_save_state_btn = "8"
input_load_state_btn = "6"
input_menu_toggle_btn = "3"

# Hide some items in the menu
content_show_contentless_cores = "0"
content_show_explore = "false"
content_show_favorites = "false"
content_show_images = "false"
content_show_netplay = "false"
menu_show_load_content = "false"
menu_show_load_core = "false"
menu_show_quit_retroarch = "false"
